 <script defer src="/js/post.js"> </script>
<div class="row">
  <div class="col-6" style="margin:0 auto">
    <div class="card">
      <img src="{{boards.image}}" class="card-img-top" alt="{{boards.image}}">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{boards.title}}</li>
            <li class="list-group-item">{{boards.description}}</li>
          </ul>
          <center>
            <button data-update={{boards.id}} type="button" class="btn btn-outline-primary edit" >Изменить</button>
            <button data-delete={{boards.id}} type="button" class="btn btn-outline-primary delete">Удалить</button>
            <a class="btn btn-outline-primary edit" href="/post/{{boards.id}}">Открыть</a>
          </center>
        </div>
    </div>
  </div>
</div>
